@import "tailwindcss";

@theme {
  --color-brand-primary: #10b981;
  --color-brand-secondary: #ef4444;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-neutral-950 text-neutral-100 antialiased;
}
